# Dependency directories
node_modules/
dist/

# Local environment variables (Contains your Neon URLs!)
.env
.env.local

# Prisma generated artifacts you don't need to track
prisma/dev.db
prisma/dev.db-journal
